<div class="container" >
    <h1>Stupid coaching</h1>
    <div class="answer">  <%= @doubt %> </div>
    <div class="answer"> <%= @answer %> </div>
    <a class=link_ask href="http://localhost:3000/ask"> Ask a new answer</a>
</div>
